<h1>Category: <%= @category.name %></h1>
<% if @posts.each do |post| %>
	<h3><%= link_to post.title,post %></h3>
	<p><%= post.body %></p>
	<% end.empty? %>
<p>Sorry there are no posts in this category</p>
<% end %>
<%=  link_to "back to categories", categories_path %>
